[data-theme="light"] {
    --caret-color: #000000;

    --alert_box-background-color: #f8d7da;
    --alert_box-text-color: #721c24;

    --code_text-color: #24292e;
    --code_background-color: #f8f9fa;
    --code_content_copy-color: #24292e;

    --directory-background-color: #ffffff;
    --directory-li_hover:#e0e0e0;
    --directory-li_bottom: #000000;

    --black-two: rgba(0, 0, 0, 0.02);
    --black-ten: rgba(0, 0, 0, 0.1);
    --black_thirty: rgba(0, 0, 0, 0.3);
    --black_fifty: rgba(0, 0, 0, 0.5);
    --black-fifteen: rgba(0, 0, 0, 0.15);
    --black-sixty-five: rgba(0, 0, 0, 0.65);
    --black-seventy: rgba(0, 0, 0, 0.7);
    --black-eighty-five: rgba(0, 0, 0, 0.85);

    --side_menu-background-color: #ffffff;
    --side_menu-label-shadow-color: rgba(23, 23, 54, 0.6);
    --side_menu-label-color: #686666;
    --side_menu-a-hover: #ffff00;

    --font-color: #000000;
    --font-color-reverse: #ffffff;

    --question-answer_focus-border-color: #4a90e2;

    --intro-background-color: #ffffff;
    --closeIntro-background-color: #000000;
    --closeIntro-hover-color: #313131;

    --button-6-background-color: #ffffff;
    --button-6-active-correct-background-color: #F0F0F1;
}

[data-theme="dark"] {
    --caret-color: #ffffff;

    --alert_box-background-color: #721c24;
    --alert_box-text-color: #f8d7da;

    --code_text-color: #f8f9fa;
    --code_background-color: #24292e;
    --code_content_copy-color: #f8f9fa;

    --directory-background-color: #000000;
    --directory-li_hover: #1f1f1f;
    --directory-li_bottom: #ffffff;

    --black-two: rgba(255, 255, 255, 0.02);
    --black-ten: rgba(255, 255, 255, 0.1);
    --black_thirty: rgba(255, 255, 255, 0.3);
    --black_fifty: rgba(255, 255, 255, 0.5);
    --black-fifteen: rgba(255, 255, 255, 0.15);
    --black-sixty-five: rgba(255, 255, 255, 0.65);
    --black-seventy: rgba(255, 255, 255, 0.7);
    --black-eighty-five: rgba(255, 255, 255, 0.85);

    --side_menu-background-color: #000000;
    --side_menu-label-shadow-color: rgba(232, 232, 201, 0.6);
    --side_menu-label-color: #979999;
    --side_menu-a-hover: #ffff00;

    --font-color: #ffffff;
    --font-color-reverse: #000000;

    --question-answer_focus-border-color: #4a90e2;

    --intro-background-color: #000000;
    --closeIntro-background-color: #ffffff;
    --closeIntro-hover-color: #cecece;

    --button-6-background-color: #000000;
    --button-6-active-correct-background-color: #0f0f0e;
}